body {
    color: #4c4646;
    font-family: domine, roboto, sans-serif;
    font-size: 16px;
}

/*Typography*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: domine;
    margin-bottom: 25px;
}

h1 {
    text-align: center;
    font-size: 52px;
    font-weight: bolder;
    letter-spacing: 1px;
    text-shadow: #666362 3px 2px 0px;
    padding-top: 20px;
    padding-bottom: 32px;

}

h2 {
    text-align: center;
    font-size: 44px;
    font-weight: bolder;
    letter-spacing: 1px;
    text-shadow: #666362 3px 2px 0px;
    padding-top: 20px;
    padding-bottom: 32px;
}

h3 {
    text-align: left;
    font-size: 36px;
    font-weight: bolder;
    letter-spacing: 1px;
    padding-top: 20px;
}


p {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 20px;
}

/*anchor styles*/
a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #3bb9ff;
}

a:active {
    color: #e9dcbe;
}

/*main containers*/

.wrapper {
    width: 980px;
    /*top right bottom left*/
    margin: 20px auto 0px auto;
}

header {
    background-color: #343434;
}

nav {
    text-align: center;
}

nav ul {
    height: 40px;
    padding-top: 20px;
}

nav ul li {
    display: inline;
    margin: 55px;
}

nav ul li a {
    color: white;
    background-color: #343434;
    text-decoration: none;
    padding: 10px 15px;
    letter-spacing: 2px;
}

nav ul li a:hover,
nav ul li a.currentpage {
    background-color: antiquewhite;
    text-decoration: none;
    color: black
}

.hero {
    min-height: 500px;
    background-image: url(../images/extra1-churchill-house-by-robin%20boyd-photo-copyright-darren-bradley.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

main {
    padding: 20px;
    overflow: auto;
}

main ul {
    list-style-type: square;
    margin-left: 30px;
    margin-bottom: 30px;
}

main ol {
    list-style-type: decimal;
    margin-left: 30px;
    margin-bottom: 30px;
}

main li {
    font-size: 28px;
    margin-bottom: 10px;
}

footer {
    background-color: #343434;
    padding: 10px;
    text-align: center;
}

footer p {
    font-size: 85%;
    color: #f3f3f3;
}

/*image setup*/

.leftimg {
    float: left;
    width: 450px;
}

.rightimg {
    float: right;
    width: 450px;
}

.bottomimg {
    width: 980px;
    margin-top: 20px;
}

.rb1img {
    width: 48%;
    margin-left: 10px;
}


.rb2img {
    width: 50%;
    float: right;
    margin-top: 15px;
}

/* Media query for phones */
@media screen and (max-device-width: 400px) {
    .wrapper {
        width: 98%;
    }


    /*    change the image width on a mobile*/
    img {
        max-width: 100%;
    }

    .left-image-box p {
        font-size: 2.2em;
    }
}

/* target devices larger than 400px and less than 768px */
@media screen and (min-device-width: 400px) and (max-device-width: 768px) {

    /* typography */
    h2 {
        font-size: 2.389em;
    }

    h3 {
        font-size: 2.278em;
    }

    .wrapper {
        width: 95%;
    }

    img {
        max-width: 80%;
    }

    .left-image-box p {
        font-size: 2.2em;
    }

}

@media screen and (min-device-width: 768px) {
    h1 {
        text-align: center;
        display: block;
    }

    nav {
        float: none;
        display: block;
    }

    nav ul {
        text-align: center
    }

}
